@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #111317;
  background: #f5f5f9;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
